<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{115,1},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{229,1},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{343,1},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{457,1},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Enemy_attack.png</string>
            <key>size</key>
            <string>{570,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b09012410cb03a0b25df3f6218159b7:b3228a6a6dec8ef8a6fe29ca7f60eb45:9bdb69f50947ccec45abfc5ac2ca721d$</string>
            <key>textureFileName</key>
            <string>Enemy_attack.png</string>
        </dict>
    </dict>
</plist>
